*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 16px;
  line-height: 24px;
}
a{
  text-decoration: none;
}
.navbar-custom {
  background-color: #dab0ae;
}
.hola{
  text-align: center;
}
.tap-buttons{
  display: flex;
}
.tab-button{
  background-color: #ffffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  height: 40px;
}
.tab-button:hover{
  background-color: #ddd;
}
.tab{
  display: none;
  width: 45%;
  padding: 25px;
  border: 2px rgba(255, 255, 255, 0.2) solid;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);    border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;

}
.active-tab-button{
  border: 2px rgba(255, 255, 255, 0.2) solid;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  
  transform: scaleY(1.1);
  transform-origin: bottom;
}
.btn_ingresar{
  background-color: #6e3730;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 9px;
  transition: 0.5s;
}
.btn_ingresar:hover{
  background-color: #5a2f2a;
}
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.divider-text {
  padding: 0 10px;
  color: #666;
  font-family: sans-serif;
}
.btn_registrate{
  border: 1px #6e3730 solid;
  padding: 10px 20px;
  width: 100%;
  border-radius: 9px;
  transition: 0.5s;
  color: #6e3730;
  text-decoration: none;
  display: inline-block;
}
.btn_registrate:hover{
  color: white;
  background-color: #5a2f2a;
}
.forgot-pass{
  color: #6e3730;
  text-decoration: none;
  
}


/* DISEÑO DE LOS FORMULARIOS */
.diseño_formulario
{
width: 500px;
border: 2px rgba(255, 255, 255, 0.2) solid;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
border-bottom-left-radius: 9px;
margin: auto;
}


/* error al ingresar sus datos incorrectos */

.aviso_error
{
color: red;
background-color: pink;
font-size: 20px;

}

/* sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #d47c30;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 20px;
}
.sidebar a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.sidebar a:hover {
  background-color: #b46a2a;
}
.sidebar a.active {
  background-color: #f5c7c5;
}
.content {
  flex-grow: 1;
  padding: 20px;
}

.contenedor_logo{
  padding: 10px;
  text-align: center;
  /* background-color: #DAB0AE; */
}
.logo-sidebar{
  width: 200px;
  /* height: 100px;
  border-radius: 50%;
  margin: auto; */
}

/* Diseño de botones */
.btn_menu1{
  border-radius: 8px;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #f07d17;
  color: #f2f4f6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.btn_menu1:hover{
  background-color: #b46a2a;
  text-decoration: none;
  color: white;
}
/* formularios */

.btn-guardar-curso{
  border-radius: 8px;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #f07d17;
  color: #f2f4f6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.btn-guardar-curso:hover{
  background-color: #b46a2a;
  text-decoration: none;
  color: white;
}
.btn-cancelar-curso{
  border-radius: 8px;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #c50000;
  color: #f2f4f6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.btn-cancelar-curso:hover{
  background-color: #970000;
  text-decoration: none;
  color: white;
}